* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    @include bg(transparent);
  }
}

:root {
  --primary: #817fc8;
  --white: #f6fafb;
  --gray: #a3acb7;
}

body {
  @include bg(var(--primary));
  @include flex(row, nowrap, center, flex-end);
  font-family: $primary-font;
  min-height: 100vh;
  transition: background 1s;
  @include break(medium) {
    align-items: center;
  }
  main {
    @include flex(Column, nowrap, flex-start, stretch);
    @include bg(var(--white));
    @include wrapper(500px);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 1rem;
    margin: auto 2rem 0;
    min-height: 75vh;
    .container {
      padding: 0 1rem;
    }
    @include break(medium) {
      @include wrapper(700px);
      @include radius(15px);
      box-shadow: 0 3px 2px rgba(black, 0.15);
      position: relative;
      min-height: 400px;
      .container {
        padding: 0 3rem;
      }
    }
  }
}
