@import url("https://fonts.cdnfonts.com/css/gotham-rounded");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: transparent;
}

:root {
  --primary: #817fc8;
  --white: #f6fafb;
  --gray: #a3acb7;
}

body {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  font-family: "Gotham Rounded", sans-serif;
  min-height: 100vh;
  transition: background 1s;
}
@media (min-width: 768px) {
  body {
    align-items: center;
  }
}
body main {
  display: flex;
  flex-direction: Column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background-color: var(--white);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 1rem;
  margin: auto 2rem 0;
  min-height: 75vh;
}
body main .container {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  body main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
    position: relative;
    min-height: 400px;
  }
  body main .container {
    padding: 0 3rem;
  }
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
input,
button,
textarea {
  font-family: "Gotham Rounded", sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

ul {
  margin: 0;
}
ul li {
  list-style: none;
}

.play-btn {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  color: var(--white);
  font-size: 1.2rem;
  margin-left: auto;
  opacity: 0.6;
  transition: opacity 0.3s, background 1s;
}
.play-btn:hover {
  opacity: 1;
}
.play-btn.playing {
  opacity: 1;
}
@media (min-width: 768px) {
  .play-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}

.quote-container {
  margin-top: 1rem;
}
.quote-container span,
.quote-container h1 {
  display: inline;
}
.quote-container span {
  font-size: 3rem;
  padding: 1rem;
  color: var(--primary);
  transition: color 1s;
}
.quote-container h1 {
  font-size: 2.2rem;
  color: var(--primary);
  transition: color 1s;
}
@media (min-width: 768px) {
  .quote-container {
    margin-top: 2.5rem;
  }
  .quote-container h1 {
    font-size: 2.5rem;
  }
}

.quote-info-container {
  margin-top: 0.5rem;
}
.quote-info-container span {
  color: var(--gray);
  font-size: 1.1rem;
}
.quote-info-container span#citation {
  font-weight: 300;
}

.progress-bar-container {
  background-color: #a3acb747;
  height: 8px;
  width: 95%;
  border-radius: 25px;
  margin: 2rem auto auto;
  overflow: hidden;
  opacity: 0;
}
.progress-bar-container.container {
  padding: 0;
}
.progress-bar-container .progress-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--primary);
  border-radius: 25px;
  height: 100%;
  width: 0%;
  transition: background 1s;
}
@media (min-width: 768px) {
  .progress-bar-container {
    width: 85%;
  }
}

@keyframes progressGo {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.tag-container p.title {
  color: var(--primary);
  transition: color 1s;
}
.tag-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.25rem;
}
.tag-container ul li {
  border-radius: 5px;
  background-color: var(--primary);
  cursor: pointer;
  color: var(--white);
  padding: 0.5rem;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
  transition: color 1s, background 1s;
}
@media (min-width: 768px) {
  .tag-container {
    position: absolute;
    top: 105%;
    left: 0;
  }
  .tag-container.container {
    padding: 0;
  }
  .tag-container p.title {
    color: var(--white);
  }
  .tag-container ul li {
    background-color: var(--white);
    color: var(--gray);
  }
}

/*# sourceMappingURL=app.css.map */
