.tag-container {
  p.title {
    color: var(--primary);
    transition: color 1s;
  }
  ul {
    @include flex(row, wrap, flex-start, center);
    margin-top: 0.5rem;
    gap: 0.25rem;
    li {
      @include radius(5px);
      @include bg(var(--primary));
      cursor: pointer;
      color: var(--white);
      padding: 0.5rem;
      box-shadow: 0 3px 2px rgba(black, 0.15);
      transition: color 1s, background 1s;
    }
  }
  @include break(medium) {
    &.container {
      padding: 0;
    }
    position: absolute;
    top: 105%;
    left: 0;
    p.title {
      color: var(--white);
    }
    ul {
      li {
        @include bg(var(--white));
        color: var(--gray);
      }
    }
  }
}
